:root {
    --uniPink: #dd0fc5;
    --uniGreen: #14c674;
    --uniRed: #d40b0b;
    --uniBlue: #0062ff;
    --background: #505050;
    --navBackground: #2e2e2e;
    --mainText: white;
}

* {
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--mainText);
}

/*  NAVIGATION  */
nav.nav-title {
    background: var(--navBackground);
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}
h1.title {
    position: relative;
}
h1.title a {
    color: var(--mainText);
    text-decoration: none;
    font-size: 2.5rem;
}
.nav-toggle {
    display: none;
}
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--mainText);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}
.nav-toggle-label span::before {
    bottom: 7px;
}
.nav-toggle-label span::after {
    top: 7px;
}

div.con-title {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--navBackground);
    width: 100%;
    transform-origin: top;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
}
ul.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.main-menu li {
    margin-bottom: 1em;
    margin-left: 1em;
}
ul.main-menu a {
    color: var(--mainText);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
}
ul.main-menu a:hover {
    color: var(--uniPink);
}
.nav-toggle:checked ~ div.con-title {
    transform: scale(1,1);
}
.nav-toggle:checked ~ ul.main-menu a {
    opacity: 1;
}

/*  INFORMATION GROUP  */
div.info {
    display: none;
}

/*  SPINERS  */
div.spinner-con {
    display: none;
}
.spinner-progress {
    width: 100px;
    height: 100px;
    background: var(--background);
    border-radius: 50%;
    position: relative;
    margin: 50px;
    display: inline-block;
}
.spinner-progress::after, .spinner-progress::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid transparent;
}
.spinner-progress::after {
    border-top-color: var(--uniGreen);
    border-bottom-color: var(--uniRed);
    animation: spinningSmall 1s linear infinite;
}
.spinner-progress::before {
    border-left-color: var(--uniPink);
    border-right-color: var(--uniBlue);
    animation: spinning 1s linear infinite;
}
.ball-progress {
    height: 0px;
    width: 0px;
}
span.ball-progress {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 300px;
}
span.ball-progress:nth-child(1) {
    left: 220px;
    background: var(--uniPink);
    animation: bounce 1.25s ease-in-out infinite;
}
span.ball-progress:nth-child(2) {
    left: 260px;
    background: var(--uniGreen);
    animation: bounce 1.25s ease-in-out 0.25s infinite;
}
span.ball-progress:nth-child(3) {
    left: 300px;
    background: var(--uniRed);
    animation: bounce 1.25s ease-in-out 0.5s infinite;
}
span.ball-progress:nth-child(4) {
    left: 340px;
    background: var(--uniBlue);
    animation: bounce 1.25s ease-in-out 0.75s infinite;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}
@keyframes spinningSmall {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}
@keyframes bounce {
    0%, 75%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
}