body {
  	background-color: White;
  	background-image: url(http://media.web.britannica.com/eb-media/42/95642-004-D6B2D947.jpg);
	background-repeat: no-repeat;
}

/** Header styles **/

h1 {
  color: Grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  margin-left: 10px;
  text-align: left;
  padding: 200px 0 0 0;
}
