* {
	
}

body {
  /*background-color: #48D1CC;*/
   background-image: url(http://media.web.britannica.com/eb-media/42/95642-004-D6B2D947.jpg);
}

/** Header styles **/

h1 {
  color: MintCream;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  line-height: 85px;
  margin-left: 160px;
  text-align: left;
  top: 50%
}
